<tr>
  <td><%= post.name %></td>
  <td><%= post.user.email%></td>
  <td><%= post.message %></td>
  <td><%= post.topic.name %></td>
  <td><%if post.users.exists?(current_user)%>read<%else%>unread<%end%></td>
  <td><%=post.comments.count()%></td>
  <td><%= link_to 'Show', post  %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>